services:
  # Backend API Service
  - type: web
    name: movie-recommender-backend
    runtime: docker
    repo: https://github.com/PJATK-ASI-2024/ai_project_Michal_Czycza
    branch: main
    dockerfilePath: ./app/Dockerfile
    dockerContext: .
    region: frankfurt
    plan: free
    envVars:
      - key: PORT
        value: 8000
    healthCheckPath: /health

  # Frontend Service  
  - type: web
    name: movie-recommender-frontend
    runtime: docker
    repo: https://github.com/PJATK-ASI-2024/ai_project_Michal_Czycza
    branch: main
    dockerfilePath: ./frontend/Dockerfile
    dockerContext: .
    region: frankfurt
    plan: free
    envVars:
      - key: API_BASE_URL
        value: https://movie-recommender-backend-92fi.onrender.com
      - key: PORT
        value: 8501
